#grid {
  width: 500px;
  height: 500px;
  position: absolute;
  display: grid;
  background-color: white;
  border: 2px;
  border-style: solid;
}

button {
  margin-bottom: 3em;
}

.div-white {
  height: 1fr;
  width: 1fr;
  border-style: none;
  background-color: white;
}
